/*-------------------------------------------------------------------------------
  1- Products
    a- Show
      i- #product_batch_info
      ii- #buy_product

--------------------------------------------------------------------------------*/

// 1. Products
   // a. Show
#product_batch_info{
  background-color: $shade_light;
}
#buy_product{
  text-align: center;
  padding-bottom: 20px;
}