<div id="products">
  <div class="container">
    <%= quick_options(["New Product", new_product_path]) if user_is_admin? %>


    <% @products_hash.each do |k, v| %>
      <h2>
        <%= k.name %>
      </h2>
      <%= render :partial => 'product_table', :locals => {:products => v} %>
    <% end %>





  </div><!-- container -->
</div><!-- products -->

